.page {
  max-width: 880px;
  background-color: #000000;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 879px) {
  .page {
    max-width: 100%;
  }
}
