.profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 879px) {
  .profile {
    margin-top: 42px;
    flex-direction: column;
  }
}
